@import "../mixins.scss";
@import "../hack";
*[disabled] {
  cursor: no-drop;
  opacity: 0.5 !important;
}
.btn {
  font-family: "OpenSance";
  border-radius: 3px;
  border: none;
  transition-duration: 0.5s;
  // padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px !important;
  min-height: 40px;
  @include ie-only {
    height: 40px;
  }
  &[disabled] {
    cursor: no-drop;
    opacity: 0.7 !important;
  }
}
.btn-small {
  min-height: 35px;
  padding: 0 10px !important;
}
.btn-medium {
  min-height: 40px;
  padding: 0 15px !important;
}
.btn-large {
  min-height: 45px;
  padding: 0 20px !important;
  font-size: 17px;
}
.btn-light {
  @include variable(my-btn-light-bg, -webkit-background-color, lightgray);
  @include variable(my-btn-light-bg, -moz-background-color, lightgray);
  @include variable(my-btn-light-bg, -ms-background-color, lightgray);
  @include variable(my-btn-light-bg, -o-background-color, lightgray);
  @include variable(my-btn-light-bg, background-color, lightgray);
  @include variable(my-btn-light-color, color, white);
  background-color: lightgray;
  border: none;
  transition-duration: 0.5s;
  &:focus {
    outline: none;
    @include variable(
      my-btn-light-shadow,
      box-shadow,
      0 0 5px rgb(66, 204, 173)
    );
    transition-duration: 0.5s;
  }
  &:hover {
    @include variable(my-btn-light-hover-bg, background-color, lightgray);
  }
}
.btn-outline-light {
  border-width: 1px;
  border-style: solid;
  @include variable(my-btn-light-bg, border-color, rgb(66, 204, 173));
  @include variable(my-btn-light-bg, color, rgb(66, 204, 173));
  transition-duration: 0.3s;
  &:focus {
    outline: none;
    @include variable(
      my-btn-warning-shadow,
      box-shadow,
      0 0 5px rgb(66, 204, 173)
    );
    transition-duration: 0.5s;
  }
  &:hover {
    @include variable(my-btn-light-bg, background, blue);
    @include variable(my-btn-light-color, color, white);
  }
}
.btn-primary {
  @include variable(my-btn-primary-bg, background, rgb(66, 204, 173));
  @include variable(my-btn-primary-color, color, white);
  border: none;
  transition-duration: 0.5s;
  &:focus {
    outline: none;
    @include variable(
      my-btn-warning-shadow,
      box-shadow,
      0 0 5px rgb(66, 204, 173)
    );
    transition-duration: 0.5s;
  }
  &:hover {
    @include variable(my-btn-primary-hover-bg, background, rgb(66, 204, 173));
  }
}
.--outline-primary {
  border-width: 1px;
  border-style: solid;
  @include variable(my-btn-primary-bg, border-color, rgb(66, 204, 173));
  @include variable(my-btn-primary-bg, color, rgb(66, 204, 173));
  transition-duration: 0.3s;
  &:focus {
    outline: none;
    @include variable(
      my-btn-warning-shadow,
      box-shadow,
      0 0 5px rgb(66, 204, 173)
    );
    transition-duration: 0.5s;
  }
  &:hover {
    @include variable(my-btn-primary-bg, background, blue);
    @include variable(my-btn-primary-color, color, white);
  }
}
.btn-success {
  @include variable(my-btn-success-bg, background-color, rgb(66, 204, 173));
  @include variable(my-btn-success-color, color, white);
  border: none;
  transition-duration: 0.5s;
  &:focus {
    outline: none;
    @include variable(
      my-btn-success-shadow,
      box-shadow,
      0 0 5px rgb(66, 204, 173)
    );
    transition-duration: 0.5s;
  }
  &:hover {
    @include variable(my-btn-success-hover-bg, background, rgb(66, 204, 173));
  }
}
.btn-warning {
  @include variable(my-btn-warning-bg, background, rgb(66, 204, 173));
  @include variable(my-btn-warning-color, color, white);

  &:focus {
    outline: none;
    @include variable(
      my-btn-warning-shadow,
      box-shadow,
      0 0 5px rgb(66, 204, 173)
    );
    transition-duration: 0.5s;
  }
  &:hover {
    @include variable(my-btn-warning-hover-bg, background, rgb(66, 204, 173));
  }
}

// @include only_ie10_above(
//   ".success",
//   (
//     background-color: red!important,
//   )
// );
