@import "./../mixins.scss";

// .formInput {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 10px;

//   &__header {
//     display: flex;
//     @include variable(flex-direction, flex-direction, row);
//     &__left {
//       flex: 1;
//       .elementTitle {
//         @include variable(text-align, text-align, left);
//         display: block;
//         margin-bottom: 7px;
//         font-size: 14px;
//       }
//     }
//     &__center {
//       flex: 1;
//     }
//     &__right {
//       flex: 1;
//     }
//   }

//   &__body {
//     display: flex;
//     @include variable(flex-direction, flex-direction, row);
//     &__left {
//     }
//     &__center {
//       flex: 1;
//     }
//     &__right {
//     }
//   }
//   &__footer {
//     display: flex;
//     @include variable(flex-direction, flex-direction, row);
//     &__left {
//       flex: 1;
//       .elementInfo {
//         @include variable(text-align, text-align, left);
//         display: block;
//         font-size: 13px;
//         margin-top: 5px;
//       }
//     }
//     &__center {
//       flex: 1;
//     }
//     &__right {
//       flex: 1;
//     }
//   }
//   &.input-invalid {
//     .elementTitle {
//       color: red;
//     }
//     .element {
//       outline: none;
//       box-shadow: none;
//       border: 1px solid red;
//     }
//     .elementInfo {
//       color: red;
//     }
//   }
// }
// .element {
//   width: 100%;
//   padding: 0 5px;
//   @include variable(text-align, text-align, left);
//   @include variable(direction, direction, ltr);
//   border-radius: 3px;
//   border: 1px solid lightgray;
//   height: 38px !important;
//   font-family: Samim, OpenSance;
//   &:focus {
//     // transition:all 0.3s;
//     outline-color: rgb(126, 182, 255);
//     box-shadow: 0 0 4px rgb(126, 182, 255);
//   }
//   &.btn-large {
//     height: 45px !important;
//     font-size: 16px;
//   }
//   &.--medium {
//     height: 38px !important;
//     font-size: 15px;
//   }
//   &.--small {
//     height: 30px !important;
//     font-size: 13px;
//   }
//   &.textArea {
//     min-height: 80px;
//     max-height: 100px;
//   }
// }

@import "./../mixins.scss";

.formInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  &__header {
    display: flex;
    padding: 5px 0;
    &__left {
      flex: 1;
      .elementTitle {
        display: block;
        margin-bottom: 2px;
        font-size: 13px;
      }
    }
    &__center {
      flex: 1;
    }
    &__right {
      flex: 1;
    }
  }
  &__body {
    display: flex;
    &__left {
    }
    &__center {
      flex: 1;
    }
    &__right {
    }
  }
  &__footer {
    display: flex;
    &__left {
      flex: 1;
      .elementInfo {
        display: block;
        font-size: 11px;
        margin-top: 5px;
      }
    }
    &__center {
      flex: 1;
    }
    &__right {
      flex: 1;
    }
  }
}
.input-invalid {
  .elementTitle {
    color: red !important;
  }
  .element {
    outline: none;
    box-shadow: none;
    border: 1px solid red !important;
  }
  .elementInfo {
    color: red !important;
  }
}
.element {
  width: 100%;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid;
  height: 38px !important;
  font-family: Samim, OpenSance;
  @include variable(input-border-color, border-color, lightgray);
  &:focus {
    @include variable(input-outline-color, outline-color, rgb(23, 145, 164));
    @include variable(input-outline-color, box-shadow, rgb(23, 145, 164));
  }
  &[readOnly] {
    background: whitesmoke;
  }
  &.input-large {
    height: 45px !important;
    font-size: 16px;
  }
  &.input-medium {
    height: 38px !important;
    font-size: 15px;
  }
  &.input-small {
    height: 35px !important;
    font-size: 13px;
  }
  &.textArea {
    min-height: 80px;
    max-height: 100px;
  }
}
