@import "./../../styles/mixins.scss";
//

.loginContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Poppins;
  .loginHeader {
    width: 100%;
    @include variable(login-header-height, height, 70px);
    @include variable(login-header-bg, background, white);
    @include variable(login-header-box-shadow, box-shadow, 0 0 3px lightgray);
    img {
      width: 180px;
      height: 50%;
      object-fit: contain;
      margin: 20px;
      cursor: pointer;
    }
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
  .loginBox {
    padding: 0px 20px 30px 20px;
    margin: 90px auto 0 auto;
    display: flex;
    flex-direction: column;
    @include variable(login-box-shadow, box-shadow, 0 0 1px lightgray);
    @include variable(login-box-bg, background, white);
    &__header {
      border-bottom: 0.5px solid lightgray;
      min-height: 80px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 11px;
      & span:first-child {
        font-size: 25px;
      }
    }
    .termChk {
      margin-top: 20px;
    }
    &__body {
      &__info {
        color: gray;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        .secText {
          padding-bottom: 10px;
        }
      }
    }
    form {
      margin-top: 10px;
      .formInput {
        margin-top: 30px;
        input:focus {
          outline-color: #44b3c2 !important;
        }
      }
      .checkmark {
        background-color: #44b3c2 !important;
      }
      .btn-success {
        background-color: #44b3c2 !important;
        &:hover {
          background-color: darken(#44b3c2, 10%) !important;
        }
      }
    }
    button {
      width: 100%;
      margin-top: 30px;
      align-self: flex-end;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .loginBox {
    width: 96%;
    margin: 0 2%;
  }
}
@media (min-width: 576px) {
  .loginBox {
    width: 460px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .loginBox {
    width: 460px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .loginBox {
    width: 460px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .loginBox {
    width: 460px;
  }
}
