@import "./../../styles/mixins.scss";
//

.loginContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .loginHeader {
    width: 100%;
    @include variable(login-header-height, height, 70px);
    @include variable(login-header-bg, background, white);
    @include variable(login-header-box-shadow, box-shadow, 0 0 3px lightgray);
    img {
      width: 180px;
      margin: 20px;
    }
  }
  .loginBox {
    padding: 0px 20px 30px 20px;
    width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    @include variable(login-box-shadow, box-shadow, 0 0 1px lightgray);
    @include variable(login-box-bg, background, white);
    &__header {
      border-bottom: 0.5px solid lightgray;
      min-height: 100px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 11px;
      & span:first-child {
        font-size: 25px;
      }

    }
    &__body {
      &__info {
        color: gray;
        font-size: 13px;
      }
    }
    form {
      margin-top: 20px;
      .formInput {
        margin-top: 30px;
      }
    }
    button {
      width: 100%;
      margin-top: 50px;
      align-self: flex-end;
    }
  }
}
