@import "./../../styles/mixins.scss";
.noApplied {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: OpenSanceBold;
  .box {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      align-self: flex-start;
      font-size: 26px;
    }
    .info1 {
      margin: 5px 0;
      align-self: flex-start;
    }
    .info2 {
      margin: 5px 0;
      align-self: flex-start;
    }
    .question {
      margin: 10px 0;
    }
    .actions {
      display: flex;
      margin: 15px 0;
      a {
        color: white;
        text-decoration: none;
      }
      button {
        margin: 0 5px;
      }
    }
    .info3 {
    }
  }
}
.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .t404 {
    font-size: 100px;
    @include variable(notfound-404-color, color, orange);
  }
  .title {
    font-size: 35px;
    margin: 20px 0;
    text-align: center;
  }
  .info {
    padding: 0 10px;
    text-align: center;

    .email,
    .phone {
      margin: 5px 0;
    }
    .phone {
      margin-top: 20px;
    }
    div:last-child {
      font-family: OpenSanceBold;
    }
  }
}
