.IUAI {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: -10px -10px -10px 0;
  &__item {
    cursor: pointer;
    &.hasImage {
      & .selectorButton {
        display: none !important;
      }
    }
    & .cancelButton {
      display: block;
      position: absolute;
      margin: -43px 43px;
      font-size: 13px;
      color: gray;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
    & .fileName {
      font-size: 14px;
      width: 100%;
      overflow: hidden;
      padding: 5px;
      text-overflow: ellipsis;
      text-align: center;
      max-height: 80px;
      line-height: 1.4;
    }
    &.hasImage:hover {
      & .selectorButton {
        display: flex !important;
      }
      background-color: whitesmoke !important;
    }
  }
  & .error {
    width: 110px;
    font-size: 13px;
    color: red;
    margin: -10px 0 0 10px;
  }
}
.MultiUploader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  & .addUploader {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    margin: 10px;
    &:hover {
      background-color: whitesmoke;
      cursor: pointer;
    }
  }
}
