.ImageUploaderApiIncluded {
  &.hasImage {
    & .selectorButton {
      display: none !important;
    }
  }
  &.hasImage:hover {
    & .selectorButton {
      display: flex !important;
    }
    background-color: whitesmoke !important;
  }
}
