@import "./../../styles/mixins.scss";
.bankId {
  &__header {
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0 10%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    @include variable(header, height, 75px);
    @include variable(header-bg, background, white);
    @include variable(header-box-shadow, box-shadow, 0 0 3px lightgray);
  }
  &__logo {
    width: 150px;
    left: 20px;
    top: 20px;
    img {
      width: 100%;
    }
  }
  &__text {
    padding: 0 10px;
    font-size: 12px;
    flex: 1;
    text-align: left;
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    @include variable(header, padding-top, 75px);
  }
  &__centerBox {
    width: 100%;
    max-width: 450px;
    height: 500px;
    border-radius: 3px;
    background: white;
    margin: auto;
    box-shadow: 0 0 2px lightgray;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    &__header {
      display: flex;
      align-items: center;
      border-bottom: 0.5px solid lightgray;
      height: 80px;
      img {
        width: 50px;
        height: 50px;
      }
      span {
        padding: 0 10px;
      }
    }
    &__body {
      flex: 1;
      padding: 20px 0 10px 0;
      display: flex;
      flex-direction: column;
      .description {
        text-align: justify;
        font-size: 13px;
        line-height: 1.5;
      }
      .spinner {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        span {
          margin-top: 20px;
        }
      }
      .success {
        display: flex;
        background-color: rgb(66, 204, 173);
        color: white;
        padding: 15px;
        margin-top: 20px;
        border-radius: 3px;
        .icon {
          font-size: 25px;
          
        }
        .text {
          margin: 0 5px;
          font-size: 14px;
        }
      }
    }
    &__footer {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      padding: 10px 0;
    }
  }
}
