@import "./../../styles/mixins.scss";
.loadingContainer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    margin-left: 100px;
  }
}
.loading {
  position: relative;
  min-height: 90px;
  // width: 90px;
  margin: 20px auto;
  border: none;
  display: flex;
  text-align: center;
}

.square {
  position: absolute;
  height: 40px;
  width: 40px;
  @include variable(page-loading-bg, background-color, rgb(66, 204, 173));
  opacity: 0.2;
}

.square-a {
  -webkit-animation: fadeInS 2s infinite;
  -moz-animation: fadeInS 2s infinite;
  animation: fadeInS 2s infinite;
}

.state1a {
  top: 0;
  left: 0;
}

.state2a {
  top: 0;
  left: 50px;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  animation-delay: 500ms;
}

.state3a {
  top: 50px;
  left: 50px;
  -webkit-animation-delay: 1000ms;
  -moz-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

.state4a {
  top: 50px;
  left: 0;
  -webkit-animation-delay: 1500ms;
  -moz-animation-delay: 1500ms;
  animation-delay: 1500ms;
}

/*Square a blink blink*/
@-webkit-keyframes fadeInS {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInS {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
}
@keyframes fadeInS {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
}

@-webkit-keyframes state1-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes state1-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes state1-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes state2-animation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes state2-animation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes state2-animation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes state3-animation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes state3-animation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes state3-animation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes state4-animation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes state4-animation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes state4-animation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
