@font-face {
  font-family: "OpenSance";
  src: url("./../assets/fonts/opensance/openSance-eot.eot"); /* IE9*/
  src: url("./../assets/fonts/opensance/openSance-eot.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./../assets/fonts/opensance/opensance-woff2.woff2")
      format("woff2"),
    /* chrome、firefox */ url("./../assets/fonts/opensance/opensance-woff.woff")
      format("woff"),
    /* chrome、firefox */ url("./../assets/fonts/opensance/opensance-ttf.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("./../assets/fonts/opensance/opensance-svg.svg#OpenSance")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "OpenSanceBold";
  src: url("./../assets/fonts/openSanceBold/openSanceBold-eot.eot"); /* IE9*/
  src: url("./../assets/fonts/openSanceBold/openSanceBold-eot.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./../assets/fonts/openSanceBold/openSanceBold-woff2.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("./../assets/fonts/openSanceBold/openSanceBold-woff.woff")
      format("woff"),
    /* chrome、firefox */
      url("./../assets/fonts/openSanceBold/openSanceBold-ttf.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("./../assets/fonts/openSanceBold/openSanceBold-svg.svg#OpenSanceBold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins.eot"); /* IE9*/
  src: url("../assets/fonts/Poppins/Poppins.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/Poppins/Poppins.woff2") format("woff2"),
    /* chrome、firefox */ url("../assets/fonts/Poppins/Poppins.woff")
      format("woff"),
    /* chrome、firefox */ url("../assets/fonts/Poppins/Poppins.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../assets/fonts/Poppins/Poppins.svg#Poppins") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../assets/fonts/PoppinsSemiBold/PoppinsSemiBold.eot"); /* IE9*/
  src: url("../assets/fonts/PoppinsSemiBold/PoppinsSemiBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/PoppinsSemiBold/PoppinsSemiBold.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("../assets/fonts/PoppinsSemiBold/PoppinsSemiBold.woff") format("woff"),
    /* chrome、firefox */
      url("../assets/fonts/PoppinsSemiBold/PoppinsSemiBold.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../assets/fonts/PoppinsSemiBold/PoppinsSemiBold.svg#PoppinsSemiBold")
      format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "PoppinsBold";
  src: url("../assets/fonts/PoppinsBold/PoppinsBold.eot"); /* IE9*/
  src: url("../assets/fonts/PoppinsBold/PoppinsBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/PoppinsBold/PoppinsBold.woff2")
      format("woff2"),
    /* chrome、firefox */ url("../assets/fonts/PoppinsBold/PoppinsBold.woff")
      format("woff"),
    /* chrome、firefox */ url("../assets/fonts/PoppinsBold/PoppinsBold.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../assets/fonts/PoppinsBold/PoppinsBold.svg#PoppinsBold")
      format("svg"); /* iOS 4.1- */
}
