@import "./../../styles/mixins.scss";
//
.mainPage {
  @include variable(main-header-height, margin-top, 100px);
  padding-top: 30px;
  @include respond(phone) {
    padding-top: 10px;
  }
  &__content {
    @include variable(main-content-width, max-width, 992px);
    margin: auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .mainPage__content {
    padding: 0 10px;
  }
}
@media (min-width: 576px) {
  .mainPage__content {
    padding: 0 10px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .mainPage__content {
    padding: 0 10px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .mainPage__content {
    padding: 0;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .mainPage__content {
    padding: 0;
  }
}
