@import "./../../styles/mixins.scss";
.search {
  width: 100%;
  // background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  // padding: 20px;
  display: flex;
  flex-direction: column;
  & .application__header {
    & .icon {
      background-color: gray;
    }
  }
  &__items-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -1.5%;
    &__search-item {
      flex-grow: 1;
      width: 30%;
      max-width: 30%;
      margin: 1.5%;
      & input {
        margin-top: 5px;
        font-size: 15px;
        border: 1px solid lightgray;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
  }
  & .validation-messsage {
    color: red;
    font-size: 12px;
    display: block;
    height: 13px;
    @include variable(text-align, text-align, left);
  }
}
@media (max-width: 768px) {
  .search {
    & .application__header {
      & .right {
        & .info {
          margin-left: 0;
          & span:first-child {
            width: 100%;
          }
        }
      }
      & .icon {
        background-color: gray;
      }
    }
    &__items-box {
      &__search-item {
        width: 46%;
        max-width: 46%;
        margin: 10px;
      }
    }
  }
}
@media (max-width: 576px) {
  .search {
    &__items-box {
      &__search-item {
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
      }
    }
  }
}
