@import "./../../styles/mixins.scss";
.myApps {
  display: flex;
  flex-direction: column;
}
.application {
  min-height: 420px;
  background: white;
  box-shadow: 0 0 2px lightgray;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  &__header {
    min-height: 80px;
    display: flex;
    background: whitesmoke;
    align-items: center;
    padding: 0 40px;
    @include respond(phone) {
      padding: 10px;
    }
    .left {
      display: flex;
      align-items: center;
      & > .icon {
        color: white;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.appReceivedIcon {
          background: rgb(221, 169, 13);
        }
        &.approvedIcon {
          background: rgb(9, 172, 102);
        }
        &.rejectedIcon {
          background: rgb(227, 126, 18);
        }
        &.closedIcon {
          background: rgb(12, 3, 87);
        }
      }
    }
    .right {
      padding: 0 10px;
      display: flex;
      flex: 1;
      flex-direction: row;
      @include respond(phone) {
        flex-direction: column;
      }
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        & span:first-child {
          font-size: 20px;
          font-family: OpenSanceBold;
        }
        & span:last-child {
          color: gray;
        }
      }
      a {
        display: flex;
        text-decoration: none;
        color: rgb(35, 65, 141);
        align-items: center;
        span {
          text-decoration: underline;
          font-family: OpenSanceBold;
        }
        .icon {
          margin: 0 8px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          font-size: 13px;
          background: rgb(35, 65, 141);
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 40px 0 40px;
    @include respond(tab-port) {
      padding: 10px 20px 0 20px;
    }
    &__header {
      border-bottom: 0.5px solid lightgray;
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      margin-bottom: 20px;
      font-size: 17px;
      font-family: OpenSanceBold;
      .loanAmount {
        display: flex;
        font-size: 21px;
        span:last-child {
          margin: 0 10px;
        }
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 10px;
    border-top: 0.5px solid lightgray;
    padding: 0 40px;
    @include respond(phone) {
      padding: 0 20px;
    }
    button {
      span {
        padding: 0 4px;
        font-size: 11px;
      }
    }
  }
  &__bodyRow {
    flex: 1;
    font-size: 13px;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    height: 100px;
    @include respond(tab-port) {
      flex-direction: column;
    }
    span:first-child {
      display: inline-block;
      width: 250px;
      flex-shrink: 0;
      font-family: OpenSanceBold;
      @include respond(tab-port) {
        width: auto;
      }
      .right {
        flex-direction: column;
      }
    }
  }
}
.linkTitle {
  display: block;
  @include respond(tab-port) {
    display: none;
  }
}
.loanAmount {
  flex-direction: row;
  @include respond(tab-port) {
    flex-direction: column;
  }
}
