@import "./../../styles/mixins.scss";
.myApps {
  display: flex;
  flex-direction: column;
}
.btn {
  &.--verified {
    background-color: transparent;
    color: rgb(9, 172, 102);
  }
}
.application {
  background: white;
  box-shadow: 0 0 2px lightgray;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  &__header {
    min-height: 80px;
    display: flex;
    background: whitesmoke;
    align-items: center;
    .left {
      display: flex;
      align-items: center;
      & > .icon {
        color: white;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &.appCreatedIcon {
          background: rgb(121, 185, 209);
          font-size: 19px;
        }
        &.appReceivedIcon {
          background: rgb(221, 169, 13);
        }
        &.approvedIcon {
          background: rgb(9, 172, 102);
        }
        &.rejectedIcon {
          background: rgb(227, 126, 18);
        }
        &.closedIcon {
          background: rgb(12, 3, 87);
        }
      }
    }
    .right {
      padding: 0 10px;
      display: flex;
      flex: 1;
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        & span:first-child {
          font-size: 20px;
          font-family: OpenSanceBold;
        }
        & span:last-child {
          color: gray;
        }
      }
      a {
        display: flex;
        text-decoration: none;
        color: rgb(35, 65, 141);
        align-items: center;
        span {
          text-decoration: underline;
          font-family: OpenSanceBold;
        }
        .icon {
          margin: 0 8px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          font-size: 13px;
          background: rgb(35, 65, 141);
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      & .editBtn {
        border-radius: 50%;
        padding: 16px !important;
      }
    }
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    &__header {
      border-bottom: 0.5px solid lightgray;
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      margin-bottom: 20px;
      font-size: 17px;
      font-family: OpenSanceBold;
      .loanAmount {
        display: flex;
        font-size: 21px;
        span:last-child {
          margin: 0 10px;
        }
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    height: 60px;
    border-top: 0.5px solid lightgray;
    justify-content: space-between;
    button {
      span {
        padding: 0 4px;
        font-size: 11px;
      }
    }
  }
  &__bodyRow {
    flex: 1;
    display: flex;
    font-size: 13px;
    padding: 8px 0;
    span:first-child {
      font-family: OpenSanceBold;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .application {
    &__body {
      padding: 10px 20px 0 20px;
    }
    &__footer {
      padding: 0 20px;
    }
  }
  .application__header {
    flex-direction: row;
    padding: 10px;
  }
  .application__bodyRow {
    flex-direction: column;
    span:first-child {
      width: auto;
    }
  }
  .linkTitle {
    // display: none;
  }
  .loanAmount {
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .application {
    &__body {
      padding: 10px 20px 0 20px;
    }
    &__footer {
      padding: 0 40px;
    }
  }
  .application__header {
    flex-direction: row;
    padding: 0 40px;
    .right {
      flex-direction: row;
    }
  }
  .application__bodyRow {
    flex-direction: column;
    span:first-child {
      width: auto;
    }
  }
  .linkTitle {
    display: block;
  }
  .loanAmount {
    flex-direction: row;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .application {
    &__body {
      padding: 10px 40px 0 40px;
    }
    &__footer {
      padding: 0 40px;
    }
  }
  .application__header {
    flex-direction: row;
    padding: 0 40px;
    .right {
      flex-direction: row;
    }
  }
  .application__bodyRow {
    flex-direction: row;
    span:first-child {
      width: 250px;
      flex-shrink: 0;
      .right {
        flex-direction: column;
      }
    }
  }
  .linkTitle {
    display: block;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .application {
    &__body {
      padding: 10px 40px 0 40px;
    }
    &__footer {
      padding: 0 40px;
    }
  }
  .application__header {
    flex-direction: row;
    padding: 0 40px;
    .right {
      flex-direction: row;
    }
  }
  .application__bodyRow {
    flex-direction: row;
    span:first-child {
      width: 250px;
      flex-shrink: 0;
    }
  }
  .linkTitle {
    display: block;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .application {
    &__body {
      padding: 10px 40px 0 40px;
    }
    &__footer {
      padding: 0 40px;
    }
  }
  .application__header {
    flex-direction: row;
    padding: 0 40px;
    .right {
      flex-direction: row;
    }
  }
  .application__bodyRow {
    flex-direction: row;
    span:first-child {
      width: 250px;
      flex-shrink: 0;
    }
  }
  .linkTitle {
    display: block;
  }
}
