@import "../../styles/mixins";
.wrapper {
  & * {
    font-family: poppins;
  }
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  &__content {
    max-width: 1175px;
    padding: 0 10px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  &__top {
    flex: 1;
    display: flex;
    padding: 15px 0;
    flex-wrap: wrap;
    .logo {
      flex: 1;
      img {
        width: 120px;
      }
    }
    .info {
      display: flex;
      flex-direction: row-reverse;
      @include respond(tab-port) {
        display: none;
      }
      &__item {
        margin-left: 15px;
        display: flex;
        span {
          font-size: 13px;
          margin-left: 10px;
          font-weight: bold;
        }
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    .menu {
      display: none;
      @include respond(tab-port) {
        display: flex;
      }
      &__checkbox {
        display: none;
        &:checked {
          outline: 0;
        }
      }
      &__button {
        margin-top: -5px;
        margin-right: 5px;
        text-align: center;
        cursor: pointer;
        transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
      }

      &__icon {
        position: relative;
        &,
        &::after,
        &::before {
          height: 2px;
          width: 1.7rem;
          background-color: black;
          display: inline-block;
        }
        &::after,
        &::before {
          content: "";
          position: absolute;
          left: 0;
          transition: all 0.2s;
        }
        &::before {
          top: -0.5rem;
        }
        &::after {
          top: 0.5rem;
        }
      }
      &__button:hover .menu__icon::before {
        // top: -1rem;
      }
      &__button:hover .menu__icon::after {
        // top: 1rem;
      }
      &__checkbox:checked + .menu__button .menu__icon {
        background-color: transparent;
      }
      &__checkbox:checked + .menu__button .menu__icon::before {
        top: 0;
        transform: rotate(135deg);
      }
      &__checkbox:checked + .menu__button .menu__icon::after {
        top: 0;
        transform: rotate(-135deg);
      }
    }

    .info__mobile {
      padding: 20px 0;
      padding-bottom: 0;
      display: none;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 220px;
      padding-top: 30px;
      transition: all 0.3s;
      overflow: hidden;
      @include respond(tab-port) {
        display: flex;
      }
      animation: height 0.3s;
      .item {
        margin-bottom: 35px;
        i {
          font-size: 20px;
        }
        span {
          font-size: 20px;
          margin-left: 10px;
          font-family: PoppinsSemiBold;
        }
        img {
          width: 23px;
          height: 23px;
        }
      }
    }
  }
  @keyframes height {
    0% {
      height: 0;
    }
    100% {
      height: 220px;
    }
  }
  &__bottom {
  }
  &__bottomContent {
    height: 100%;
    max-width: 768px;
    margin: auto;
  }
}
.stepWrapper {
  display: flex;
}
.headerStep {
  width: calc(20% - 10px);
  height: 10px;
  margin-right: 10px;
  border-radius: 8px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition-duration: 0.5s;
  @include respond(phone) {
    height: 7px;
  }
}
.headerStep__normal {
  background-color: #e7e7e7;
  transition-duration: 0.5s;
}
.headerStep__current {
  background-color: #f2c94c;
  transition-duration: 0.5s;
}
.headerStep__finished {
  background-color: #44b3c2;
  transition-duration: 0.5s;
}
.stepText {
  padding: 0;
  margin: 7px 10px;
  text-align: right;
  color: #44b3c2;
}
.content {
  @include layoutbase;
  display: flex;
  margin-top: 125px;
  position: relative;
  padding-bottom: 50px;
}
.profile {
  width: 201px;
  height: 100px;
  //   background-color: blue;
  position: absolute;
  left: 0;
  padding-right: 20px;
  @include respond(tab-land) {
    display: none;
  }
  .profileContent {
    flex-direction: column;
    display: flex;
    img {
      align-self: center;
      width: 120px;
      height: 120px;
      border-radius: 100%;
    }
    &__username {
      margin: 10px 0;
      align-self: center;
      font-size: 13px;
    }
    &__info {
      padding: 5px 10px;
      background-color: white;
      position: relative;
      margin-top: 35px;
      padding-bottom: 30px;
      box-shadow: 0 0 5px #f2c94c;
      &::after {
        position: absolute;
        content: "";
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 40px solid white;
      }
      &::before {
        position: absolute;
        content: "";
        top: -42px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 21px solid transparent;
        border-right: 21px solid transparent;
        border-bottom: 41px solid #f2c94c;
      }
      span {
        display: block;
        font-size: 11px;
        margin-bottom: 10px;
      }
    }
  }
}
.form {
  width: 768px;
  margin: 0 auto;
  padding: 0;
  @include respond(tab-port) {
    padding: 0 10px;
  }
}
.noNeedBankIdAlertBox {
  width: 768px;
  margin: 0 auto;
  min-height: 200px;
  border-radius: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 50px;
  @include respond(phone) {
    padding: 20px;
    margin: 0 10px;
  }
  h1 {
    margin: 0;
    align-self: center;
    font-family: poppinsSemiBold;
  }
  span:nth-of-type(1) {
    margin: 30px 0;
  }
  span:nth-of-type(2) {
    margin-bottom: 20px;
  }
  span:nth-last-of-type(1) {
    font-family: poppinsBold;
  }
}
.errorBox {
  width: 768px;
  margin: 0 auto;
  min-height: 200px;
  border-radius: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  margin-top: 150px;
  .top {
    display: flex;
    align-items: center;
    .errorIcon {
      margin-right: 10px;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      color: red;
      font-size: 42px;
    }
    .errorTopText {
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .longDesc {
    font-size: 14px;
    line-height: 2;
    padding-bottom: 20px;
    text-align: justify;
  }
  hr {
    background: transparent;
    width: 100%;
    opacity: 0.5;
  }
  .actions {
    display: flex;
  }
}
