@import "./../../../styles/mixins.scss";

.mainHeader {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  align-items: center;
  @include variable(main-header-bg, background, white);
  @include variable(main-header-box-shadow, box-shadow, 0 0 3px lightgray);
  padding-top: 0 !important;
  align-items: center;
  &__top {
    display: flex;
    align-items: flex-start;
    margin: auto;
    width: 100%;
    align-items: center;
    height: 70px;
    position: relative;

    @include variable(main-header-width, max-width, 992px);
    .left {
      flex: 1;
      display: flex;
    }
    .right {
      direction: rtl;
    }
    @include respond(phone) {
      align-items: stretch;
      padding-top: 7px;
    }
  }
  &__img {
    cursor: pointer;
    height: 100%;
    padding-top: 5px;
    @include respond(phone) {
      padding-top: 0;
    }
    img {
      width: 120px;
      @include respond(phone) {
        width: 100px;
      }
    }
  }
  &__title {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    span:last-child {
      @include variable(mainColor1, color, #44b3c2);
    }
    @include respond(phone) {
      position: absolute;
      bottom: 2px;
      font-size: 16px;
    }
  }
  &__changeCompany {
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 5px;
    font-weight: bold;
    transition: all 0.5s;
    @include respond(phone) {
      display: none;
    }
    &:hover {
      transform: scale(0.99);
    }
    .icon {
      position: absolute;
      font-size: 15px;
      top: 1px;
      margin-right: 5px;
      left: -20px;
    }
    // padding: 0 20px;
  }
  &__signout {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition-duration: 0.2s;
    // &:hover {
    //   transition-duration: 0.2s;
    //   transform: scale(1.09);
    // }
    span:first-child {
      margin-left: 5px;
    }
    span {
      font-weight: bold;
      // font-family: OpenSanceBold;
      font-size: 14px;
      @include respond(phone) {
        font-size: 18px;
      }
    }
  }
  .menu {
    display: none;
    @include respond(phone) {
      display: flex;
    }
    margin-top: 5px;
    &__checkbox {
      display: none;
      &:checked {
        outline: 0;
      }
    }
    &__button {
      margin-top: -5px;
      margin-right: 5px;
      text-align: center;
      cursor: pointer;
      transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__icon {
      position: relative;
      &,
      &::after,
      &::before {
        height: 2px;
        width: 1.7rem;
        background-color: black;
        display: inline-block;
      }
      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }
      &::before {
        top: -0.5rem;
      }
      &::after {
        top: 0.5rem;
      }
    }
    &__button:hover .menu__icon::before {
      // top: -1rem;
    }
    &__button:hover .menu__icon::after {
      // top: 1rem;
    }
    &__checkbox:checked + .menu__button .menu__icon {
      background-color: transparent;
    }
    &__checkbox:checked + .menu__button .menu__icon::before {
      top: 0;
      transform: rotate(135deg);
    }
    &__checkbox:checked + .menu__button .menu__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
  @keyframes height {
    0% {
      height: 0;
    }
    100% {
      height: 60px;
    }
  }
  &__bottom {
    height: 60px;
    display: flex;
    align-items: center;
    animation: height 0.3s;
    .tabItem {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: bold;
      .icon {
        font-size: 25px;
        margin-right: 10px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .mainHeader {
    padding: 20px 10px 0 10px;
    &__title {
      text-align: left;
    }
    .left {
      flex-direction: column;
    }
  }
}
@media (min-width: 576px) {
  .mainHeader {
    padding: 20px 10px 0 10px;
    &__title {
      text-align: center;
    }
    .left {
      flex-direction: row;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .mainHeader {
    padding: 20px 10px 0 10px;
    &__title {
      text-align: center;
    }
    .left {
      flex-direction: row;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .mainHeader {
    padding: 20px 0 0 0;
    &__title {
      text-align: center;
    }
    .left {
      flex-direction: row;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .mainHeader {
    padding: 20px 0 0 0;
    .left {
      flex-direction: row;
    }
    &__title {
      text-align: center;
    }
  }
}
