@import "./../../../styles/mixins.scss";

.mainHeader {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  @include variable(main-header-height, height, 100px);
  @include variable(main-header-bg, background, white);
  @include variable(main-header-box-shadow, box-shadow, 0 0 3px lightgray);
  padding-top: 0 !important;
  &__top {
    display: flex;
    align-items: flex-start;
    margin: auto;
    width: 100%;
    align-items: center;
    height: 60px;
    @include variable(main-header-width, max-width, 992px);
  }
  &__img {
    img {
      width: 120px;
    }
  }
  &__title {
    flex: 1;
    text-align: center;
    // font-size: 20px;
    font-family: OpenSanceBold;
  }
  &__userInfo {
    font-size: 12px;
    padding: 0 20px;
  }
  &__signout {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition-duration: 0.2s;
    &:hover {
      transition-duration: 0.2s;
      transform: scale(1.09);
    }
    span {
      font-family: OpenSanceBold;
      font-size: 13px;
      padding: 0 5px;
    }
    i {
      @include variable(main-header-signout-icon-color, color, blue);
    }
  }
  &__bottom {
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: space-between;
    @include variable(main-header-width, max-width, 992px);
    width: 100%;
    align-items: flex-end;
    .tabItem {
      font-size: 13px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin: 0 20px;
      // align-items: flex-end;
      height: 30px;
      .navLink {
        position: relative;
        height: 100%;
        text-decoration: none;
        & span {
          @include variable(main-header-link-color, color, blue);
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            margin: auto;
            height: 4px;
            opacity: 0;
            transition-duration: 0.2s;
            width: 0;
            @include variable(
              main-header-link-hover-color,
              background,
              darkblue
            );
          }
          &:hover::before {
            width: 100%;
            opacity: 1;
            transition-duration: 0.2s;
            bottom: 0;
          }
        }
        &.active span {
          // position: relative;
          font-family: OpenSanceBold;
          //   font-size: 14.5px;
          height: 100%;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            margin: auto;
            height: 4px;
            @include variable(
              main-header-link-active-color,
              background,
              darkblue
            );
          }
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .mainHeader {
    padding: 20px 10px 0 10px;
  }
}
@media (min-width: 576px) {
  .mainHeader {
    padding: 20px 10px 0 10px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .mainHeader {
    padding: 20px 10px 0 10px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .mainHeader {
    padding: 20px 0 0 0;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .mainHeader {
    padding: 20px 0 0 0;
  }
}
