@import "./../../styles/mixins.scss";
.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .t404 {
    font-size: 100px;
    @include variable(notfound-404-color, color, orange);
  }
  .title{
    font-size: 35px;
    margin: 20px 0;
    text-align: center;
  }
  .info{
    padding: 0 10px;
    text-align: center;
  }
}
